* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 960px;
  margin: 50px auto;
}

.contents {
  float: left;
  width: 32%;
  margin-right: 2%;
  padding: 10px;
  position: relative;
  border: 1px solid #eee;
}

.contents:last-child {
  margin-right: 0;
}

.content-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.content-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.content-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.content-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
  padding: 3px;
}

.content-sp-num {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
  padding: 3px;
}

.box-title {
  margin: 15px 0 5px;
}

@media screen and (max-width:768px) {
  main {
    width: 100%;
  }
  
  .contents {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
    float: none;
  }
  
  .content-image1 {
    width:100%;
  }
  
  .content-image2 {
    width: 100%;
  }
  
  .content-image3 {
    width: 100%;
  }
  
  .content-num {
    display: none;
  }

  .content-sp-num {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF9A4B;
    color: #fff;
    padding: 3px;
  }
  
  .box-title {
    font-size: 1.2em;
    color: rgba(0,0,0,0.6);
  }
  
  .box-text {
    font-size: 1em;
    color: rgba(0,0,0,0.6);
  }

}